body {
  margin: 0;
}

.App {
  display: grid;
  grid-template-rows: 3em 3em 1fr;
  grid-auto-columns: auto;
  height: 92vh;
}

.main-header {
  background-color: #7719aa;
  font-weight: 900;
  color: white;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  background-color: #7719aa;
  color: white;
  padding: 10px;
  grid-row: 2;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 25% 75%;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-links {
  display: grid;
  align-content: center;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto;
}

.logged-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown .label {
  margin-right: 5%;
}

.dropdown option {
  padding: 10px;
}

.article-main {
  padding: 10px;
  grid-row: 3;
  display: grid;
  grid-template-columns: 74% 2% 24%;
  grid-template-rows: auto;
}

.articles {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 18em;
  grid-gap: 0 10px;
}

.articles a {
  display: flex;
}

.articles a .ui.card:first-child {
  margin: 1em 0;
}

.articles a .ui.card .description {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 13ch;
}

.divider {
  border-left: 1px solid grey;
  padding: 10px 0;
  display: flex;
  height: auto;
}

.article {
  margin-top: 3em;
}

.topic-main {
  padding: 10px;
  grid-row: 3;
  display: grid;
  grid-template-columns: 74% 2% 24%;
  grid-template-rows: auto;
}

.topics {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 15em;
  grid-gap: 0 10px;
}

.topics a {
  display: flex;
}

.topics a .ui.card:first-child {
  margin: 1em 0;
}

.topics a .ui.card .description {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 13ch;
}

.users {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: auto;
  grid-gap: 0 10px;
}

.users a {
  display: flex;
}

.ui image {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 40ch;
}

.users a .ui.card:first-child {
  margin: 1em 0;
}

/* @media only screen and (min-width: 600px) {
  .card {
    background-color: lightblue;
  }
} */
